.image {
    width: 100px;
    height: 100px;
}

.image-all {
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.view-more {
    text-decoration: none;
    padding: 7px 10px;
    background: transparent;
    border: 1px solid #222222;
    color: #222222;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0 10px 0;
}