.imageSize {
    width: 100%;
    height: 100%;
}

.images-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.image {
    width: 19%;
    margin-bottom: 10px;
}

.review {
    width: 50%;
    height: 140px;
    overflow: hidden;
}


.review h2{
    margin: 0;
}

.review p {
    margin: 0;
}

.review-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    margin: 15px 0;
    padding: 20px;
}

.heading-image {
    width: 200px;
    height: 200px;
}

.label {
    font-size: 20px ;
}